.rules {
  padding: 25px;

  font-size: 1.2rem;

  border-top: 2px solid black;
  margin: 0 15px;

  font-family: monospace;
  font-weight: bold;

  &__title {
    text-decoration: underline;
  }
}

/* Stylings for desktops */
@media screen and (min-width: 600px) {
  .rules {
    // Removes the border from mobile stylings first.
    border: none;
    border-left: 2px solid black;
  }
}
