.rules {
  padding: 25px;

  font-size: 1.2rem;

  border-top: 2px solid black;
  margin: 0 15px;

  font-family: monospace;
  font-weight: bold;

  &__title {
    text-decoration: underline;
  }

  .message-link {
    text-decoration: none;
    border: 2px outset black;
    border-radius: 3px;
    padding: 3px 15px;

    color: black;
    background-color: rgb(235, 235, 235);

    text-wrap: nowrap;

    &:hover {
      background-color: rgb(175, 175, 175);
    }
  }
}

/* Stylings for desktops */
@media screen and (min-width: 600px) {
  .rules {
    // Removes the border from mobile stylings first.
    border: none;
    border-left: 2px solid black;
  }
}
