.game {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 75px;

  &__columns {
    position: relative;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 5px;
  }

  &__selection {
    position: absolute;
    background-color: rgba($color: #888888, $alpha: 0.6);
    height: 100px;
    width: 100%;

    z-index: -1;
  }
}
/* Stylings for desktops */
@media screen and (min-width: 600px) {
}
