div.game-container {
  display: flex;
  flex-direction: column;
}

/* Stylings for desktops */
@media screen and (min-width: 600px) {
  div.game-container {
    position: absolute;
    display: flex;
    flex-direction: row;

    padding: 50px;

    & > .game {
      width: 70%;
    }

    & > .words-list {
      width: 10%;
    }

    & > .rules {
      width: 20%;
    }
  }
}
